.inquarySection {
    height: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    max-width: 1150px;
    margin: auto;
}


.formGroup {
    height: 73px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formGroup label {
    margin-bottom: 0.4rem;
    font-weight: 500;
    opacity: 0.7;
}

.formGroup input,
.formGroup select {
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
    outline: none;
}

/* Address + City row */
.addressCity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* State + Zip row */
.stateZip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}





.formGroup input:focus,
.formGroup select:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 8px rgba(79, 70, 229, 0.3);
    background-color: #f9f9ff;
}



.form button {
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 6px;
    background: #0077ff;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form button:hover {
    background: #005fcc;
    transition: 0.3s ease-in-out;
}


@media screen and (max-width:1024px) {
    .formGroup {
        width: 90%;
        margin: 0 auto;
    }

    .addressCity,
    .stateZip {
        width: 95%;
        margin: 0 auto;
    }

    .inquarySection {
        height: auto;
    }

    .form button {
        margin-left: 3rem;
    }
}


@media screen and (max-width:768px) {

    .addressCity,
    .stateZip {
        display: flex;
        flex-direction: column;
        width: 98%;
    }

    .form button {
        width: 80%;
        margin: 0 auto;
    }
}


.messege {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}


.messege p {
    border: 1px solid #ced4da;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    margin-top: 10px;
    padding: 15px;
    position: relative;
}


.messege button {
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #04422e;
     border: none;
     color: white;
     padding: 0.5rem 0.8rem;
     font-size: 1rem;
     border-radius: 40px;
     cursor: pointer;
     transition: 0.2s ease-in-out;
}

.messege button svg{
    font-size: 1.3rem;
    margin-right: 4px;
    
}


.messege button:hover{
    background-color: #086448;
     transition: 0.2s ease-in-out;
}