.li {
    padding-inline: 1rem;
    border-right: 1px solid lightgrey;
}

.li:hover a {
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}

@media screen and (max-width:768px) {
    .li {
        width: 100%;
        text-align: left;
        border-right: 0;
    }

    /* .li a{
        font-size: 0.9rem;
    } */
}