.cardeSectionContainer {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contntContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
    padding-top: 3rem;
}



.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
    padding: 0.7rem;
  background: linear-gradient(135deg, #004d40, #00695c); /* dark green gradient */
  color: white;
  border-radius: 40px;
  font-weight: 600;
  font-size: 1rem;
  gap: 0.2rem;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

/* Hover: smooth gradient transition */
.btn:hover {
     transition: 0.3s ease-in-out;
  background: linear-gradient(135deg, #19615d, #22837e);
}

/* Icon hidden initially */
.icon {
     transition: 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s ease-in-out;
  width: 0;
  overflow: hidden;
}

/* Icon appears smoothly */
.btn:hover .icon {
     transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(4px);
  width: auto;
}







.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.content h1 {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 900;
    opacity: 0.8;
}

.content p {
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.8rem;
    font-weight: 500;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(380px, 1fr));
    gap: 1rem;
    place-items: center;
}

.grid img{
    width: 80%;
    height: 84%;
    border-radius: 10px;
}

/* @media screen and (max-width:662px){
    .grid img{
        width: 48%;
    }

    .firstimg{
        width: 71% !important;
    }
} */

@media screen and (max-width:1024px){
    .contntContainer{
        margin-inline: 2rem;
    }

    .cardContainer{
        padding-bottom: 2rem;
    }
}





@media screen and (max-width:768px){
    .contntContainer{
        display: flex;
        flex-direction: column;
        width: 73%;
        margin: 0 auto;
        gap: 0;
    }

    .cardContainer{
        width: 73%;
        margin: 0 auto;
    }

    .content h1{
        font-size: 2rem;
    }

    .content a{
        align-self: flex-end;
    }

    .content p{
        line-height: 1.5rem;
    }

    .btn{
        width: 9rem;
    }
}


@media (max-width: 676px) and (min-width: 416px) {


    .gridContainer.grid{
        width: 80%;
    }

    .firstgrid{
        width: 100%;
    }
}

@media screen and (max-width:425px){
     .content p{
          line-height: 1.3rem;
     }
}