
.cardSection{
    width: 100%;
    height: 105vh;
    background-color: #f3f7f7
}

@media screen and (max-width:1024px){
    .cardSection{
        margin-top: 2rem;
        height: auto;
        
    }
}

@media screen and (max-width:768px){
    .cardSection{
        padding-bottom: 2rem;
    }
}
