
.connectSection{
    width: 100%;
    height: 35vh;
    background-image: url('./wall-wallpaper-concrete-colored-painted-textured-concept (1).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 1rem;
}


@media screen and (max-width:1024px){
    .connectSection{
        height: auto;
        /* margin-top: 3rem; */
    }
}