
.imgContainer{
    width: 38%;
    height: auto;
    /* height: 63%; */
}

.imgContainer img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px){
    .imgContainer{
        width: 65%;
    }
}

@media screen and (max-width:425px){
    .imgContainer{
        width: 86%;
    }
}