.introductioncontentcontainer {
    width: 50%;
    height: 75%;
    margin-top: 4.8rem;



}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.content span {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    margin: 0;
    line-height: 2.6rem;
    opacity: 0.8;

}

.outline {
    border: 1px solid rgb(245, 245, 94);
    width: 180px;
}


.content p {
    text-align: left;
    line-height: 1.7rem;
    opacity: 0.7;
    margin: 0;
    font-weight: 500;
}

.content p a {

    color: #2ea3f2;
}



 .abtn {
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  padding: 0.7rem 1.8rem; /* thoda extra space icon ke liye */
  background: linear-gradient(135deg, #004d40, #00695c); /* silverish green look */
  color: white;
  font-weight: 600;
  font-size: 1rem;
  gap: 0.5rem;
  position: relative;
 transition: 0.3s ease-in-out !important;
}

/* Hover without movement */
.abtn:hover {
   transition: 0.3s ease-in-out !important;
  background: linear-gradient(135deg, #19615d, #22837e); /* smooth darker gradient */
}

/* icon default hidden */
.Iicon {
  opacity: 0;
  transform: translateX(-50px);
 
  width: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/* icon appears on hover */
.abtn:hover .Iicon {
  opacity: 1;
  transform: translateX(4px);
  width: auto;
 transition: 0.5s ease-in-out;
}




@media screen and (max-width:768px) {
    .introductioncontentcontainer {
        height: auto;
        width: 72%;
        margin: 0;
    }
}



@media screen and (max-width:425px) {
    
    .introductioncontentcontainer{
        width: 90%;
    }
   
   
    .content span {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }

    .content p{
        line-height: 1.3rem;
    }
}


@media screen and (max-width:320px){
    .content span{
        font-size: 1.7rem;
    }

    .content p{
        font-size: 0.9rem;
    }

    .abtn{
        padding: 0.5rem 0.9rem;
    }
} 