
.linkdinbtnPerent {
    background-color: #19615d;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    padding: 0.4rem 0.9rem;
     transition: 0.3s ease-in-out;
    min-width: 120px;  /* ✅ So content stays centered */
}


.linkdinbtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
    justify-content: center;
    cursor: pointer;
     transition: 0.3s ease-in-out;
}

.icon {
    opacity: 0;
    transform: translateX(-30px) scale(0.8);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: inline-flex;
    width: 20px;       
    height: 20px;
    justify-content: center;
    align-items: center;
     transition: 0.3s ease-in-out;
}

/* Hover Effect */
.linkdinbtnPerent:hover {
    background-color: #22837e;
    transition: 0.2s ease-in-out;
     transition: 0.3s ease-in-out;
}

.linkdinbtnPerent:hover .icon {
    opacity: 1;
    transform: translateX(0) scale(1);
     transition: 0.3s ease-in-out;
}


 /* responsive */

@media screen and (max-width:768px)
{
    .linkdinbtnPerent{
        display: none;
    }
} 