
.ListUL{
    display: flex;
    align-items: center;
    padding: 0;
}


@media screen and (max-width:768px)
{
    .ListUL{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .ListUL li a{
        font-size: 0.9rem;
    }
}