.li {
    padding-inline: 1rem;
    border-right: 1px solid lightgrey;
    position: relative;
}

.productai {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.downicon {
    font-size: 1.1rem !important;
}

.productai:hover a {
    transition: 0.2s ease-in-out;
    opacity: 0.7;
}

.productlist {
    position: absolute;
    display: none;
}

.li:hover .productlist {
    display: block;
    z-index: 10;
}

@media screen and (max-width:768px) {
    .li {
        width: 100%;
        border-right: 0;
    }

    .downicon {
        transition: transform 0.3s ease !important;
        cursor: pointer;
        background-color: rgb(229, 233, 235);
        border-radius: 40px;
        padding: 0.1rem;
        font-size: 1rem !important;
    }

    .rotete {

        transition: transform 0.3s ease !important;
        transform: rotate(180deg);
    }

    .norotet {
        transform: rotate(0deg);
        transition: transform 0.3s ease !important;
    }

    .productlist {
        position: static;
    }


    .productai {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .productai>a {
        font-weight: bold;
    }

    .li:hover .productlist {
        all: unset;
    }

    .productlistShow {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        transform: translateY(0) !important;
    }


    .productlistHide {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
        transform: translateY(-10px) !important;
    }

}